@import '~video-react/dist/video-react.css';

body {
    color: rgb(199, 189, 189);
    /* background-color: rgb(31, 32, 34); */
    background-image: url('assets/glitch-gd5bca8981_1920.jpg');
    filter: grayscale(30%);
    font-family: 'Inconsolata', monospace;
}
.headers{
    font-family: 'Bungee Inline', cursive;
    /* font-family: 'Inconsolata', monospace; */
}

.inputs{
    display:flex;
    justify-content: center;
    padding: 20px;
    /* filter: drop-shadow(0 -6mm 4mm rgb(0, 0, 0)); */
}

a:link {
    text-decoration: none;
}

a:hover {
    background-color:rgba(255, 255, 255, 0.7);
    color:black;
}

.links{
    padding: 10px;
    border: 2px solid rgb(68, 68, 68,0.7);
    border-radius: 25% 10%;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
}

input{
    background-color: rgb(0, 0, 0);
    color: white;
    /* font-family: "Helvetica Neue",Helvetica,Arial; */
    border-radius: 5px;
}

input[type="file"] {
    color: red;
}

select{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px
    /* font-family: "Helvetica Neue",Helvetica,Arial; */

}
textarea{
    background-color: rgb(0, 0, 0);
    color: white;
    /* font-family: "Helvetica Neue",Helvetica,Arial; */
}

button{
    background-color: rgb(0, 0, 0);
    color: white;
    /* font-family: "Helvetica Neue"; */
}

.studio{
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color:black;
    border-radius: 10px;
}

/* .studio:hover{
    color: white
} */

.posts{
    border: 5px solid rgb(0, 0, 0, 0.7);
    border-radius: 13px;
    background-color: rgb(0, 0, 0, 0.8);
    /* filter: drop-shadow(0 -6mm 4mm rgb(0, 0, 0)); */
}

.grid{
    display: grid;
    justify-content: space-around;    
}

.lists{
    list-style: none
}

.left {
    float: left;
}

.right{
    float: right;
}

.blogs {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 25% 25% 25% 25%;
}

.vids {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 33.3% 33.3% 33.3%; 
}

/* .image:hover{
    transform: scale(1.1);
} */

.profile-pic{
    border: 5px solid black;
    border-radius: 25% 10%;
}
.profile-box{
    width: 700px;
    background-color: rgb(0, 0, 0, 0.7);
    border: 3px solid rgb(119, 114, 114, 0.5);
    border-radius: 10px;
}

.blog-style{
    background-color: rgb(163, 155, 151);
    color:rgb(0, 0, 0);
    border: 2px solid rgb(24, 11, 5);
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
}

.delete{
    background-color: black;
    color: red;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 100%;
}

.center{
    align-items: center;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(59, 81, 110);
    outline: 1px solid rgb(13, 33, 63);
}

input[type="file"]{
    background-color: rgb(61, 26, 26);
    color: white;
    border-radius: 5px;
}

.login-create{
    padding-right: 306px;
}

.logged-in{
    padding-right: 114px;
}

.big-font{
    font-size: 200%;
}

.page-head{
    background-color: rgb(0, 0, 0, 0.7);
    border: 3px solid rgb(119, 114, 114, 0.5);
    border-radius: 10px;
}


/* .blog-card{
    background-color: rgb(161, 158, 158);
    color: black;
    width: 700px;
    border: 2px solid black;
    border-radius: 10px; 
} */

/* Flashing */

/* .hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
} */

/* 
@import url(
'https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */
  
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(
    120deg, #000000 0%, #000000 100%);
}
  
/* h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #282855;
} */
  
.draw-area {
  width: 1280px;
  height: 720px;
  border: 2px solid #808080;
  border-radius: 10px;
  position: relative;
  background-color: white;
}
  
.Menu {
  width: 650px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  align-items: center;
  background-color: #a3a3a32d;
  margin: auto;
  margin-top: 10px;
}

