@import '~video-react/dist/video-react.css';

body {
    color: rgb(182, 155, 154);
    background-color: rgb(31, 32, 34);
    font-family: 'Inconsolata', monospace;
}

.inputs{
    display:flex;
    justify-content: center;
    padding: 20px;
}

a:link {
    text-decoration: none;
}

a:hover {
    background-color:white;
    color:black;
}

.links{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.posts{
    border: 2px solid black;
    border-radius: 10px;
}

.grid{
    display: grid;
    justify-content: space-around;
}

.lists{
    list-style: none
}

.left {
    float: left;
}

.right{
    float: right;
}

.blogs {
    background-color: rgb(161, 158, 158);
    color: black;
    width: 400px;
    display: grid;
    border: 2px solid black;
    border-radius: 10px; 
}


